<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}MyTube{% endblock %}</title>
    {% load staticfiles %}
    <link rel="shortcut icon" href="/media/favicon.ico" type="image/png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">

        <!-- Header -->
         <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'index' %}">MyTube</a></a>
            </div>

        <!-- Items -->
            <ul class="nav navbar-nav">
                <li class="{% block register_active %}{% endblock %}"><a href="{% url 'register' %}">Register</a></li>
                <li class="{% block login_active %}{% endblock %}"><a href="{% url 'login_user' %}">Log In</a></li>
            </ul>

    </div>
</nav>
{% block body %}
{% endblock %}
</body>
</html>
