<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>MyTube</title>
    {% load staticfiles %}
         <link rel="shortcut icon" href="/media/favicon.ico" type="image/png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>


<body >
<nav class="navbar navbar-default">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'index' %}">MyTube</a>
            </div>

        <div class="container" id="topNavBar">
            <form class="navbar-form navbar-left" role="search" method="get" action="{% url 'index' %}">
                    <input type="text" class="form-control" name="q" value="{{ request.GET.q }}">

                <button type="submit" class="btn btn-default">Search</button>
                </form>
            <form  class="navbar-form navbar-righr" >
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_superuser %}
                       <li>
                    <a href="{% url 'all_users' %}">
                        <span  aria-hidden="true" ></span>&nbsp; Users
                    </a>
                </li>
                <li>
                    <a href="{% url 'statistic' %}">
                        <span  aria-hidden="true" ></span>&nbsp; Statistics
                    </a>
                </li>
                 {% endif %}
                    <li>
                    <a href="{% url 'my_channel' %}">
                        <span  aria-hidden="true" ></span>&nbsp; My chanell ({{ user.username }})
                    </a>
                </li>

                <li>
                    <a href="{% url 'logout_user' %}">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
                    </a>
                </li>
            </ul>
                </form>
        </div>

</nav>
{% block body %}
{% endblock %}
</body>
</html>
