{% extends 'base.html' %}
{% block albums_active %}active{% endblock %}
{% load staticfiles %}
{% load filter %}

{% block body %}
<div class="albums-container container-fluid" xmlns="http://www.w3.org/1999/html">


    <div class="row">
        <div class="col-sm-12">
            <h3>{{ user.username }}'s videos</h3>

        </div>

    <div style="padding: 20px";>
                <br>
                <a href="{% url 'add video' %}">
                    <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span>&nbsp; Add new video
                    </button>
                </a>
            </div>

        {% if videos %}
            <div class="row" style="padding-left: 1% ; padding-right: 1%">
            {% for video in videos %}
                <div class="col-sm-4" align="center">
                    <div class="thumbnail">
                        <a href="{% url 'video' video|underscore:'_id' %}">
                            <video controls  width="350" height="300">
                            <source src="{{ video.url }}" >
                            </video>
                        </a>
                        <div class="caption">
                            <h2>{{ video.title }}</h2>
                               <a href="/remove/{{ video|underscore:'_id' }}">
                                <button>Delete</button>
                            </a>
                </div>
                </div>
                </div>

            {% endfor %}
            </div>
        {% endif %}
{% endblock %}
